<footer class="container fixed-bottom mb-5">
  <!-- <data class="u-url" href="{{ "/" | relative_url }}"></data> -->

     <div class="row">
      <div class="col">
        <span> Contact: <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></span>
      </div>
      <div class="col" style="text-align:right;">
        <a href="https://www.linkedin.com/school/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">Centre for Digital Governance</span></a>
        <!-- {%- include social.html -%} -->
      </div>
    </div>

</footer>
